
<footer class="page-footer font-small">

  <!-- Footer Links -->
  <div class="container-fluid text-center  bg-dark text-light">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12  mt-3">

        <!-- Content -->
        <h5 class="text-uppercase mt-5"></h5>
        <a href="index.php"></a>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 bg-dark text-light">© 2020 Copyright:
    <a href="https://cefii.fr/" class="text-light"> CEFii.fr</a>
  </div>
  <!-- Copyright -->

</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>